body{
    background-color: aqua;
    color: violet;
}

.sidebar{
    grid-area: sidebar;
    background: linear-gradient(to right, rgba(200,107,142,1), rgba(218,105,250,1),
     rgba(110,125,253,1)) ;
    justify-content: center;
}

.no2{
    padding-left:auto;
    padding-top:auto;
}